falcon-regression/merlin/src/test/resources/xsd/dataset-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="uri:ivory:dataset:0.1" xmlns="uri:ivory:dataset:0.1">
  <xs:element name="Dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Comments" minOccurs="0"/>
        <xs:element ref="Status" minOccurs="0"/>
        <xs:element ref="Priority" minOccurs="0"/>
        <xs:element ref="Type" minOccurs="0"/>
        <xs:element ref="MetaInfo" minOccurs="0"/>
        <xs:element ref="Partition"/>
        <xs:element ref="SourceDataDefinition" minOccurs="0"/>
        <xs:element ref="Defaults" minOccurs="0"/>
        <xs:element ref="Datastores"/>
        <xs:element ref="DataFlow" minOccurs="0"/>
        <xs:element ref="CustomCode" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="catalog" use="required" type="xs:string"/>
      <xs:attribute name="description" use="required" type="xs:string"/>
      <xs:attribute name="gdmversion" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comments" type="xs:string"/>
  <xs:element name="Status" type="xs:string"/>
  <xs:element name="Priority" type="xs:string"/>
  <xs:element name="Type" type="xs:string"/>
  <xs:element name="MetaInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Owner" minOccurs="0"/>
        <xs:element ref="Consumers" minOccurs="0"/>
        <xs:element ref="Tags" minOccurs="0"/>
        <xs:element ref="Parameters" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Owner">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="BU" use="required" type="xs:string"/>
      <xs:attribute name="admin-email" use="required" type="xs:string"/>
      <xs:attribute name="user-email" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consumers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Consumer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consumer">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="BU" use="required" type="xs:string"/>
      <xs:attribute name="email" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tags" type="xs:string"/>
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Partition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubPartition" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attribute name="format" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubPartition">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attribute name="values" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SourceDataDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataInputFormat"/>
        <xs:element ref="Schema" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInputFormat" type="xs:string"/>
  <xs:element name="Schema">
    <xs:complexType>
      <xs:attribute name="location" use="required" type="xs:anyURI"/>
      <xs:attribute name="provider" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Defaults">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ACL" minOccurs="0"/>
        <xs:element ref="Authentication" minOccurs="0"/>
		<xs:element ref="DateRange" minOccurs="0" />
		<xs:element type="xs:string" name="Frequency" />
		<xs:element type="xs:int" name="Periodicity" />
		<xs:element type="xs:string" name="Timezone" />
		<xs:element ref="Paths" />
        <xs:element ref="Policies" minOccurs="0"/>
        <xs:element ref="Configuration" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AuthScheme"/>
        <xs:element ref="CredentialProvider"/>
        <xs:element ref="Configuration" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthScheme" type="xs:string"/>
  <xs:element name="CredentialProvider" type="xs:string"/>
  <xs:element name="Datastores">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Datastore"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Datastore">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="ACL"/>
        <xs:element ref="Authentication" minOccurs="0"/>
        <xs:element ref="DateRange"/>
        <xs:element ref="Paths"/>
        <xs:element ref="Policies"/>
        <xs:element ref="IgnorePolicies"/>
        <xs:element ref="Configuration"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="active" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgnorePolicies" type="xs:string"/>
  <xs:element name="DataFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Import"/>
        <xs:element maxOccurs="unbounded" ref="Copy"/>
        <xs:element maxOccurs="unbounded" ref="Export"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Discovery"/>
        <xs:element ref="Source"/>
        <xs:element maxOccurs="unbounded" ref="Target"/>
        <xs:element ref="Load" minOccurs="0"/>
        <xs:element ref="Transform" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load">
    <xs:complexType>
      <xs:attribute name="numMaps" use="optional" type="xs:int"/>
      <xs:attribute name="strategy" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataOutputFormat" minOccurs="0"/>
        <xs:element ref="SortKey" minOccurs="0"/>
        <xs:element ref="PartitionKey" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="numMaps" use="optional" type="xs:int"/>
      <xs:attribute name="numReduce" use="optional" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataOutputFormat" type="xs:string"/>
  <xs:element name="SortKey" type="xs:string"/>
  <xs:element name="PartitionKey" type="xs:string"/>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Discovery"/>
        <xs:element ref="Source"/>
        <xs:element maxOccurs="unbounded" ref="Target"/>
        <xs:element ref="Replicate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Replicate">
    <xs:complexType>
      <xs:attribute name="numMaps" use="optional" type="xs:int"/>
      <xs:attribute name="strategy" use="optional" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Discovery"/>
        <xs:element ref="Source"/>
        <xs:element maxOccurs="unbounded" ref="Target"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Configuration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACL">
    <xs:complexType>
      <xs:attribute name="group" use="required" type="xs:string"/>
      <xs:attribute name="permission" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="property"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateRange">
    <xs:complexType>
      <xs:attribute name="start" use="required" type="xs:string"/>
      <xs:attribute name="end" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paths">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Path"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Path">
    <xs:complexType>
      <xs:attribute name="location" use="required" type="xs:string"/>
      <xs:attribute name="type" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Policies">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Policy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Policy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Configuration"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attribute name="condition" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Discovery">
    <xs:complexType>
      <xs:attribute name="interface" use="required" type="xs:string"/>
      <xs:attribute name="start" use="required" type="xs:string"/>
      <xs:attribute name="frequency" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Source">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="bcp" use="optional" type="xs:string"/>
      <xs:attribute name="use-bcp" use="optional" type="xs:boolean"/>
      <xs:attribute name="sla" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Target">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="sla" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
